body {
  background: #F2F2F3;
}

.page-header {
  background: #4286f4;
}


/********* NAVBAR STYLES **********/

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #4286f4;
  padding: 0;}

.navbar--left {
  justify-content: flex-start; }

.navbar--right {
  justify-content: flex-end; }

.navbar--sticky {
  position: fixed;
}
.navbar__title {
  margin: 0px;
  color: #fff; 
  flex-grow: 1;
  margin-left: 1em;
}

.navbar-list {
  display: flex;
  align-items: center;
  width: auto;
  margin: 0;
}

.navbar-list--size-adjust {
  width: 420px; }

.navbar-list-sublist {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 170px;
  background-color: #fff;
  border: 1px solid black;
  padding: 10px;
  position: relative;
  top: 10px;
  left: 43%;
  color: #8c8c8c;
  display: none;
  z-index: 5; }

.navbar-list__item {
  float: left;
  color: #fff; 
  font-weight: 200;
}

.navbar-list__item a{
  text-decoration: none;
  color: #fff; 
  padding: 15px;
  display: block;
  width: 100%;
}

.navbar-list__item, .navbar-list-sublist__item {
  padding: 0px;
  display: block; }

.navbar__title--size {
  flex-grow: 3; }

.navbar-list-sublist__item:hover {
  background-color: #4286f4;
  color: #fff; }

.navbar-list__item:hover, .navbar-list__item-icon:hover {
  background: #5A95F5;
  cursor: pointer; }

.navbar__search {
  width: 200px;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  background-color: #4286f4;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  float: right;
  margin-right: 40px; 

}

.navbar__search:focus + .search-label, .navbar__search:valid + .search-label {

  font-size: .8em; 
  bottom: 30px;
}

/*.search-wrap::after {
  font-family: FontAwesome;
  content: "\f002";
  float: right;
  position: absolute;
  right: 26px;
  bottom: 10px;
  color: #fff;
  opacity: .5;
}*/

.search-wrap {
  flex-grow: 1;
  position: relative; 
}

.search-label{
  transition: all 0.3s ease;
  position: absolute;
  left: 235px;
  bottom: 10px;
  color: #fff;
}


 /******* PLACEHOLDER *********/

::-webkit-input-placeholder {
  font-size: 1em;
  font-weight: 100;
}

 /******** HEROTRON **********/
#about {
  min-height: 100vh;
}
#about,
#projects,
#skills,
#contact {
  padding-top: 60px;
}

#contact{
  padding-bottom: 60px;
}

#about {
  background: url(../img/IMG_20170305_173401.jpg) no-repeat top fixed;
  background-size: cover;
  min-height: 100vh;
}

.herotron-wrap {
  /*background: #dedede;*/
  background: rgba(66, 134, 244, .6);
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

.herotron {
  background: transparent;
  color: #fff;
  display: flex;    
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.skills__wrap {
  background: #fff;
  padding: 1em .5em 4em;
}

.skills-tab-group {
  min-height: 575px;
  height: auto;
}

.c-graph-skill-level {
  height: 25%;
}

 /******* CLEARFIX **********/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/********** HEADER **********/

.sticky-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}


/*********** PROJECT SECTION ****************/

.article-content {
  width: 100%;
}

.article-content h2 {
  text-align: center;
}

.vert-tab__radio{
  display: none;
}

.vert-tab-label {
  display: block;
  width: 20%;
  background-color: #fff;
  font-weight: bold;
  position: relative;
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  opacity: 0.3;
  margin-left: 0;
  z-index: 90;
  transition: 1s opacity, 1s background-color, 1s color;
  transition-timing-function: ease;
}

.vert-tab__radio:checked + .vert-tab-label {
  /*border-top: 1px solid #4286f4;
  border-bottom: 1px solid #4286f4;
  border-left: 1px solid #4286f4;*/
  background: rgba(221,221,221,.3);
  width: 21%;
  margin-left: -1%;
  opacity: 1;
  color: #4286f4;
}

.vert-tab__content {
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(221,221,221,.3);
  padding: 10px 10px;
  margin-left: 0px;
  overflow: auto;
  /*box-shadow: 0 0 2px #444;
  -moz-box-shadow: 0 0 2px #444;
  -webkit-box-shadow: 0 0 2px #444;*/
  border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px; 
  z-index: 100;
  opacity: 0;
  transition: 1s opacity;
}

.vert-tab__content__title {
  text-align: center;
  color: #4286f4;
}

.vert-tab__radio:checked + .vert-tab-label + .vert-tab__content {
  display: block;
  opacity: 1;
}

/********* CAROUSEL *********/

.carousel {
  width: 90%;
  max-width: 600px;
  max-height: 360px;
  top: 0;
  overflow: visible;
  margin-bottom: 30px;
}

.carousel--item {
  height: 100%;
}

.carousel .carousel--item img {
  width: 600px;
  height: 360px;
}

.carousel--bullet {
  top: 102%;
  border: 1px solid #dedede;

}

.carousel--bullet__flip:nth-of-type(1):checked + .carousel--item + label:nth-of-type(1), 
.carousel--bullet__flip:nth-of-type(2):checked + .carousel--item + label:nth-of-type(2), 
.carousel--bullet__flip:nth-of-type(3):checked + .carousel--item + label:nth-of-type(3), 
.carousel--bullet__flip:nth-of-type(4):checked + .carousel--item + label:nth-of-type(4) {
  background-color: #33b5e5;
  border: 1px solid #fff;
  animation: flip .7s;
}

a.github-link {
  color: #000;
}

.project-description {
  padding: 10px;
  margin-bottom: 20px;
}

.vert-tab__content {
  z-index: 75;
  visibility: hidden;
}

.vert-tab__radio:checked + .vert-tab-label + .vert-tab__content {
  visibility: visible;
  z-index: 100;
}

.c-graph {
  height: 200px;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.c-graph-title {
  text-align: center;
}

.c-graph-skill-levels {
  flex-grow: 1;
  max-width: 25%;
  padding: 10px 0 0;
  float: left;
  border-right: 1px solid #ccc;
}

.c-graph-data {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-grow: 4;
  max-width: 75%;
}

.c-graph-skill-level {
  font-size: .8em;
}

.c-skill-bar {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  width: 20px;
  border-radius: 4px 4px 0 0;
  position: relative;
  height: 50%;
}

.c-skill-bar__orange {
  background: #FDAB4D;

}

.c-skill-bar__blue {
  background: #41BBEE;
}

.c-skill-bar__green {
  background: #6DCF3A;
}

.c-skill-bar__pink {
  background: #F88CB0;
}

.c-skill-bar__yellow {
  background: #EEE036;
}
.c-skill-label{
  transform: rotate(45deg);
  position: absolute;
  font-size: .8em;
  display: inline-block;
  bottom: -60px;
  left: -15px;
  width: 125px;
}

.javascript, 
.jquery,
.public-speaking,
.problem-solving,
.research{
  height: 55%;
}

.php,
.mysql,
.writing{
  height: 60%;
}

.project-management{
  height: 40%;
}
.html {
  height: 80%;
}

.reactjs,
.vuejs,
.nodejs,
.mongodb,
.expressjs {
  height: 25%;
}

.c-business-card {
  position: relative;
  margin: 0 auto;
  width: 600px;
}

.c-card-label {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 600px;
  height: 350px;
  position: relative;
  cursor: pointer;
 
}

.c-card {
  position: relative;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.c-card .front,
.c-card .back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 30px 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.c-card .front {
  color: #fff;
  background: linear-gradient(to bottom, #800080, transparent 70%),
              url(../img/bg3.png);
}

.c-card .back {
  background: url(../img/me2.jpg);
  background-position: center;
  background-size: cover;
  color: #FFF;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.c-card-label:hover .c-card {
  -webkit-transform: rotateX(5deg);
  transform: rotateX(5deg);
  box-shadow: 0 10px 10px rgba(0,0,0,.5);
}

.c-card-flip {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

/*input {
  display: none;
}*/

:checked + .c-card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.c-card-label:hover :checked + .c-card {
  transform: rotateX(175deg);
  -webkit-transform: rotateX(175deg);
  box-shadow: 0 10px 10px rgba(30,30,30,.5);
}

.c-card-heading {
  font-weight: lighter;
  text-shadow: 2px 5px 1px #800080;
  color: #fff;
}

.c-card-subtitle {
  text-shadow: 2px 2px #800080;
}

.c-card-link {
  color: #f990ef;
  text-shadow: 0px 1px #800080;
  margin: 15px 25px 0 0;
  text-decoration: none;
  display: inline-block;
}

.c-card-back-name {
  padding: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255,255,255, .7);
  color: #8136DD;
}

.c-card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.c-card-encyclopedia {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}

.c-card-encyclopedia img {
  margin-right: 10px;
}

.c-card-encyclopedia a {
  text-decoration: none;
  color: #f990ef;
}

.c-card-social-icons a {
  margin: 0 10px 0;
}

.footer {
  background: #4286f4;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: .9em;
}

.modal-link--cursor {
  color: #fff;
}